<style>html, body {height:100%; margin:0; overflow: hidden;}
header {    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-seriff;
	background-image: url("http://www.pptback.com/uploads/party-party%20wave-backgrounds-powerpoint.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
     display:block; height:10%;  padding: 10px;  }
.homeHeader{    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-seriff;
	background-image: url("http://www.pptback.com/uploads/party-party%20wave-backgrounds-powerpoint.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
     display:block; height:10%;  padding: 10px;  }
section {height:80%; 
background-image: url("http://usa.sae.edu/assets/Campuses/New-York/2015/New_York_City_view.jpg");  
background-size: 100% 100%;
    background-repeat: no-repeat;
    display:block; overflow:auto;}
footer{  
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-seriff;
	font-weight: bold;
	color: white;
	background-image: url("http://www.freehdimages.in/uploads/large/desktop-orange-and-white-wallpaper-for-walls-download.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	display:block; 
	height:10%;  
	padding: 10px; 
	border : 2px solid #003366; 
	}
	section{overflow: hidden;}
section .push {height:4000px;}
.wrapper { 
  overflow: hidden;
  padding: 2%;
}
.wrap{ margin: auto; text-align: center;
    width: 60%;
    height: 10%;
    color: #005580; font-size: 1.3em;
    min-height: 40%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-seriff;
    padding: 10px; }
.wrapper div {
   min-height: 200px;
   padding: 10px;
}
.title-1{background: #e7ebf3; padding:1%; color: #006699; font-size: 1.5em;}
#one {
  background-color: white;
  float:left; 
  margin-right:20px;
  width:140px;
  border-right:10px solid #003366;
  border-top:5px solid #003366;
}
#two { 
background-image: url("https://scontent.fewr1-1.fna.fbcdn.net/v/t1.0-9/14517616_1099863520134596_3027172765207898836_n.jpg?oh=a750e43be6d2f2d059ad311db9e296b9&oe=58AB1CBA");
opacity: 0.9;
	background-size: 100% 100%;
    background-repeat: no-repeat;
  overflow:hidden;
  margin:0px;
  border:2px solid #003366;
  min-height:170px;
}
#two1 { 
background-image: url("https://scontent.fewr1-1.fna.fbcdn.net/v/t1.0-9/14517616_1099863520134596_3027172765207898836_n.jpg?oh=a750e43be6d2f2d059ad311db9e296b9&oe=58AB1CBA");
opacity: 0.9;
	background-size: 100% 100%;
    background-repeat: no-repeat;
  overflow:hidden;
  margin:0px;
  border:2px solid #003366;
  max-height:480px;
}
.twoHead{}
@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}
.outDiv
{
  float:center;
  
   height:300px;
    min-height:300px
  min-width: 100%; 
  padding:3px; 
  color: black;
  background:white;
}
.inDiv 
{

  height:100%;
  min-width: 100%;
   overflow:auto;
   color:#003366;
    background: white;
}
.scroll
{
overflow-y:scroll; overflow-x:hidden; height: 380px; text-align: center;
}
.inDiv1
{
 height:190%;
   overflow:auto;
   color:#003366;
    background: white;
}
.button{	
         color: #0077b3;    padding: 5px 10px;
         font-size: 18px;
    text-align: center;    text-decoration: none;
    display: inline-block;
    margin: 3% 5%;    border-radius: 6px;    cursor: pointer;
    -webkit-transition-duration: 0.4s;     transition-duration: 0.4s;	}
.button2:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 17px 50px 11110px rgba(0,0,0,0.19);
    font-size:25px;
}
.submitbutton{	background-color: #0077b3; /* Green */
         color: white;    padding: 5px 40px;
    text-align: center;    text-decoration: none;
    display: inline-block;
    margin: 3% 5%;    border-radius: 6px;    cursor: pointer;
    -webkit-transition-duration: 0.4s;     transition-duration: 0.4s;	}
.submitbutton2:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 17px 50px 10px rgba(0,0,0,0.19);
    font-size:1.3em;
}
.none {
	width: 1200px;
	align: center;
	background: white;
	height: 0px;
	margin: 0px auto;
	overflow: auto;
	overflow: hidden;
}
.rw-words-init{
	margin: 10px 0 0px 20px;
    font-size: 20px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    font-family: 'Pacifico', cursive;
}    
 .pacifico {
        font-family: 'Pacifico', cursive;
        font-weight: bold;
      }   
 .wireFont {
        font-family: 'Wire One', cursive;
        font-weight: bold;
      }  
      
   .lobFont {
        font-family: 'Lobster', cursive;
      }   
  .Orbitron {
        font-family: 'Orbitron', cursive;
      }
   .font1 {   font-family: 'Open Sans', sans-serif;    } 
        
    
</style>